.isactive{
    background-color: lightblue;
    color: white !important;
}
.home{
    height: 85vh;
    font-family: "Shadows Into Light Two";
    font-size: 1.5em;
    display: grid;
    grid-template-rows: 20% 80%;
    width: 95%;
    margin: auto;
    .nav{
        align-content: center;
        .navList{
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
            justify-content: space-evenly;
            a{
                border: 1px solid lightblue;
                border-radius: 20px;
                padding: 0 20px;
                color: black;
                text-decoration: none;
                color: lightblue;
                text-shadow: 1px 1px 1px grey;
                &:hover {
                    cursor: pointer;
                    background-color: lightblue;
                    color: white
                }
            }
        }
    }
    .displayContainer{
        height: 100%;
        display: grid;
        grid-template-rows:60% 20%;
        text-align: center;
        align-items: center;
        .setup{}
        .answer{
            .rAnswer{}
            .count{
                color: red;
                font-size: 2em;
            }
        }
        button{
            height: 100%;
            font-family: "Caveat Brush";
            font-size: 1.5em;
            background-color: lightblue;
            color: white;
            border: .5px solid grey;
            &:hover {
                cursor: pointer;
            }
            &:active {
                box-shadow: inset 1px 1px 5px black;
            }
        }
    }
}